In [1]:
import pandas as pd

## Load data

In [3]:
users = pd.read_csv("./data/occupation.csv", index_col='user_id')
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

## 1. See the first 10 entries

## 2. See the last 10 entries

## 3. What is the number of observations and the number of columns in the dataset?

## 4. Print the name of all the columns

## 5. Print only the occupation column

## 6. How many different occupations there are in this dataset?

## 7. What is the most frequent occupation?

### Use groupby for above exercises

## 8. What is the mean age of users?

## 9. What is the age with least occurrence?

## 10. Discover what is the mean age per occupation

## 11. Discover the Male ratio per occupation and sort it from the most to the least

## 12. For each occupation, calculate the minimum and maximum ages

## 13. For each combination of occupation and gender, calculate the mean age

## 14. For each occupation present the percentage of women and men